@model NMoneys.Web.Models.Snapshot

<div class="span3 tile snapshot" id="@Model.AlphabeticCode">
	<div class="tabulated">
		<div class="cell alphabetic-code">
			<h4>@Model.AlphabeticCode</h4>
		</div>
		<div class="cell">
			<div class="numeric-code">@Model.NumericCode</div>
			<div class="symbol">@Model.Symbol</div>
		</div>
		
	</div>
	<div class="tabulated english-name">@Model.EnglishName</div>
	<div class="tabulated native-name">@Model.NativeName</div>
</div>
<!--/span-->

