@model NMoneys.Web.Models.Snapshot

<article class="span2 tile snapshot" id="@Model.AlphabeticCode">
	<div class="tabulated">
		<div class="cell alphabetic-code">
			<h3><a href="#@(Model.AlphabeticCode)_modal" role="button" data-toggle="modal">@Model.AlphabeticCode</a></h3>
		</div>
		<div class="cell">
			<div class="numeric-code">@Model.PaddedNumericCode</div>
			<div class="symbol">@Model.Symbol</div>
		</div>
		
	</div>
	<div class="tabulated english-name">@Model.EnglishName</div>
	<div class="tabulated native-name">@Model.NativeName</div>
</article>
<div class="modal hide fade" id="@(Model.AlphabeticCode)_modal" role="dialog" aria-hidden="true">
	<header class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		&nbsp;
	</header>
	<article class="modal-body">
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#@(Model.AlphabeticCode)_codes" data-toggle="tab">Codes</a></li>
				<li><a href="#@(Model.AlphabeticCode)_names" data-toggle="tab">Names</a></li>
				<li><a href="#@(Model.AlphabeticCode)_formatting" data-toggle="tab">Formatting</a></li>
			</ul>
			<div class="tab-content">
				<section class="tab-pane active" id="@(Model.AlphabeticCode)_codes">
					<h3><span class="show-info" data-title="Alphabetic Code" data-placement="right">@Model.AlphabeticCode</span></h3>
					<h4><span class="show-info" data-title="Numeric Code" data-placement="right">@Model.Details.NumericCode</span></h4>
					<h4><span class="show-info" data-title="Numeric Code" data-placement="right">@Model.PaddedNumericCode</span></h4>
				</section>
				<section class="tab-pane" id="@(Model.AlphabeticCode)_names">
						<h3><span class="show-info" data-title="Symbol" data-placement="right">@Model.Symbol</span></h3>
						<h4><span class="show-info" data-title="English Name" data-placement="right">@Model.EnglishName</span></h4>
						<h4><span class="show-info" data-title="Native Name" data-placement="right">@Model.NativeName</span></h4>
				</section>
				<section class="tab-pane" id="@(Model.AlphabeticCode)_formatting">
					<table class="quantities table table-hover table-bordered">
						<caption>Amounts</caption>
						<thead>
							<tr>
								<th>Positive</th>
								<th>Negative</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>@Model.Details.Integral</td>
								<td>@Model.Details.NegativeIntegral</td>
							</tr>
							<tr>
								<td>@Model.Details.Fractional</td>
								<td>@Model.Details.NegativeFractional</td>
							</tr>
							<tr>
								<td>@Model.Details.BigIntegral</td>
								<td>@Model.Details.BigNegativeIntegral</td>
							</tr>
							<tr>
								<td>@Model.Details.BigFractional</td>
								<td>@Model.Details.BigNegativeFractional</td>
							</tr>
						</tbody>
					</table>

				</section>
			</div>
		</div>
	</article>
</div>

