@model NMoneys.Web.Models.CodeSnippetCollection

@{
	ViewBag.Title = "nMoneys";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<header class="login-form">
		<div class="row-fluid">
			<div class="span2"><img src="~/Content/img/doc.png" /></div>
			<div class="span4"><h2>See how it is done</h2></div>
		</div>
	</header>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#quickstart" data-toggle="tab">Developer Quickstart</a></li>
		<li><a href="#codeproject" data-toggle="tab">Code Project (<em>NMoneys</em>)</a></li>
		<li><a href="#codeproject_exchange" data-toggle="tab">Code Project (<em>NMoneys.Exchange</em>)</a></li>
	</ul>
	<div class="tab-content">
		<section class="tab-pane active" id="quickstart">
			<p>Sample code from <a href="http://code.google.com/p/nmoneys/wiki/DeveloperQuickStart" target="_blank">Developer Quickstart</a>.</p>
			@Html.DisplayFor(m => m.QuickStart)
		</section>
		<section class="tab-pane" id="codeproject">
			<p>Sample code from <a href="http://www.codeproject.com/Articles/193043/NMoneys-a-Money-Value-Object-implementation-in-NET" target="_blank">Code Project</a> article.</p>
			@Html.DisplayFor(m => m.CodeProject)
		</section>
		<section class="tab-pane" id="codeproject_exchange">
			<p>Sample code from <a href="http://www.codeproject.com/Articles/248487/NMoneys-Exchange-Companion-for-NMoneys" target="_blank">Code Project</a> article.</p>
			@Html.DisplayFor(m => m.CodeProject_Exchange)
		</section>
	</div>
</div>



@section head
{
	@Styles.Render("~/Content/prettify")
}

@section scripts
{
	@Scripts.Render("~/bundles/prettify")
	@Scripts.Render("~/bundles/app_samples")
}
